<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="de.tillhub.inputengine.ui.amount.AmountInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.pin.PinInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.quantity.QuantityInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.percentage.PercentageInputActivity"
            android:exported="false" />
    </application>
</manifest>