# ============================
# Platform-specific junk files
# ============================
# Windows
Thumbs.db
*.bat
!gradlew.bat
!scripts/*.bat
!scripts/post-build/*.bat

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# ============================
# Build / Generated artifacts
# ============================
*.apk
*.aar
*.ap_
*.aab
*.klib
*.hprof
*.log

/build/
/input-engine/build/
/buildSrc/build/
/sample/build/
/.gradle/
/.cxx/
/externalNativeBuild/
/bin/
/gen/
/out/
/.kotlinc/
/.kotlin/
/local.properties

# ============================
# IDE-specific
# ============================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
/.idea/caches
.idea/libraries
.idea/dictionaries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml


# Android Studio captures
/captures/

# ============================
# Kotlin Multiplatform Native
# ============================
*.kexe
*.knm
*.konan/
*.klib
*.dbg

# Kotlin Native intermediate metadata
/.kotlin/metadata/

# ============================
# Xcode / iOS
# ============================
iosApp/Pods/
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
**/xcuserdata/

# ============================
# Other
# ============================
*.orig
*.rej
*.swp
*.swo
