<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tillhub.inputengine">

    <application>
        <activity
            android:name="de.tillhub.inputengine.ui.moneyinput.MoneyInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.pininput.PinInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.quantity.QuantityInputActivity"
            android:exported="false" />
        <activity
            android:name="de.tillhub.inputengine.ui.percentage.PercentageInputActivity"
            android:exported="false" />
    </application>
</manifest>
